.body {
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 7px;
}

.button-form {
    padding-top: 5px;
    text-align: center;
}

.form-title {
    color: rgb(1, 1, 78);
    padding-bottom: 4px;
}

.form-label {
    color:rgb(3, 3, 116);
    font-size:large;
    font-weight: bold;
}

@media screen and (min-width: 415px){
    .body{
        padding-top: 15px;
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 7px;
    }

    .form-title {
        color:rgb(1, 1, 78);
        font-size: 35px;
        text-align: center;
    }
}